{% load static %}

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Sobre</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other
                        background context. Make it a few sentences long so folks can pick up some informative tidbits.
                        Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contato</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>

                    </ul>
                </div>
                <!-- Search Wrapper -->
                <div class="search-wrapper">
                    <!-- Close Btn -->
                    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <form action="{% url 'find_process' %}">
                                    <input type="text" style="width: 40vw; height: 40px" name="buscar" placeholder=" O que você está procurando...">
                                    <button type="submit" style="background-color: #212529;border: none;height: 10px">
                                        <img style="height: 2.5em;" src="https://img.icons8.com/color/48/000000/search--v4.png"/>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
                <strong>Boas Vindas</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>