{% extends 'base.html' %}
{% block title %}
    <title>Search - Challenge Retake</title>
{% endblock title %}
{% block body %}
    <h1 style="text-align: center; padding: 15px">Search Result: {{ search }}</h1>
    <div class="row">
        <div class="album py-4 bg-light">
            <div class="container">
               <div class="cartao" style="display:grid; gap: 2rem; grid-template-columns: 1fr 1fr 1fr 1fr;">
                        {% for proces in process %}
                            <div class="card mb-4 box-shadow" style="background-color: white;align-content: center">
                                <div class="card-body">
                                    <p class="card-text">
                                        <strong>Class</strong> : {{ proces.department|truncatewords:4 }}<br>
                                        <strong>Subject</strong> : {{ proces.subject|truncatewords:3 }}<br>
                                        {% for for in proces.parts.all %}
                                            <li>{{ for.name|truncatewords:2 }}</li>
                                            <li>{{ for.category }}</li><br>
                                        {% endfor %}
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group" style="display:grid; gap: 5rem; grid-template-columns: 1fr 1fr 1fr 1fr;">
                                            <a href="{% url 'get_process' proces.id %}">
                                                <button type="button" class="btn btn-sm btn-outline-primary">
                                                    Visualize
                                                </button>
                                            </a>
                                            <a href="{% url 'delete_process' proces.id %}">
                                                <button type="button" class="btn btn-sm btn-outline-danger">
                                                    Delete
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <h1> It was not possible to find results for your search..</h1>

                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}