{% extends 'base.html' %}
{% block body %}
    <h1 style="text-align: center; padding: 15px" >Resultado da Pesquisa</h1>
    <div class="row">
        <div class="album py-4 bg-light">
            <div class="container">
                <div class="row">
                    {% for proce in process %}
                        <div class="col-md-3">
                            <div class="card mb-4 box-shadow" style="background-color: white;align-content: center">

                                <div class="card-body">
                                    <p class="card-text">
                                        <strong>Classe</strong> : {{ proce.department }}<br>
                                        <strong>Assunto</strong> : {{ proce.subject }}<br>
                                        <strong>Juiz</strong> : {{ proce.judge }}<br>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">

                                            <a href="{% url 'get_process' proce.id %}">
                                                <button type="button" class="btn btn-sm btn-outline-primary">
                                                    Visualizar
                                                </button>
                                            </a>

                                    </div>
                                </div>
                            </div>
                        </div>{% empty %}
                        <h1>Não foi possível encontrar nenhum Processo</h1>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}