{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block body %}

    <style>
        .inline-form {
        }

        .hidden {
            display: none
        }

        .add-row {
            padding-left: 18px;
            background: no-repeat left center;
        }

        .dynamic-form {
            margin-bottom: 6px;
            padding-bottom: 6px;
            border-bottom: 1px dotted #ccc;
        }

    </style>
    {% if p_form.errors %}
        {% for field in p_form %}
            {% for error in field.errors %}

            {% endfor %}
        {% endfor %}
    {% endif %}


    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 offset-2 mt-8 mb-10">
            <div class="page-header ">
                <h1 style="text-align: center; color:dimgray">Criar Processo</h1>
            </div>
            <form action="{% url 'create_process' %}" method="post">
                {% csrf_token %}
                {% if p_form.errors %}
                    <div class="alert alert-danger col-sm-9" role="alert">
                        <p>Todos os campos são obrigatórios</p>
                    </div>
                    <label for="subject" class="col-md-3 control-label">Assunto*</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control is-invalid" id="subject" name="subject"
                               placeholder="Assunto"/>
                    </div>
                    <label for="department" class="col-md-3 control-label">Classe*</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control is-invalid" id="department" name="department"
                               placeholder="Classe"/>
                    </div>
                    <label for="judge" class="col-md-3 control-label">Juiz*</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control is-invalid" id="judge" name="judge"
                               placeholder="Juiz"/>
                    </div>
                {% else %}
                    <label for="subject" class="col-md-3 control-label">Assunto*</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="subject" name="subject"
                               placeholder="Assunto"/>
                    </div>
                    <label for="department" class="col-md-3 control-label">Classe*</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control " id="department" name="department"
                               placeholder="Classe"/>
                    </div>
                    <label for="judge" class="col-md-3 control-label">Juiz*</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="judge" name="judge"
                               placeholder="Juiz"/>
                    </div>
                {% endif %}
                <div id="parts-form-list">
                    <div>
                        <h2 style="text-align: center;color:dimgray">Partes</h2>
                    </div>
                    {{ form_parts.management_form }}
                    {% for form in form_parts %}
                        <div class="inline-form">
                            {{ form|crispy }}
                        </div>
                    {% endfor %}
                </div>

                <button type="submit" value=Submit> Criar</button>
            </form>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.inline-form').formset({
            addText: 'Adicionar Parte',
            deleteText: 'Remover Parte',
            addCssClass: 'btn btn-outline-success ',
            deleteCssClass: 'btn btn-outline-danger ',
            formCssClass: 'dynamic-form',
            prefix: '{{form_parts.prefix}}'
        });
    </script>
{% endblock body %}