<h1>Editar Processo</h1>
<div class="top-buffer">
    <form action="{% url 'update_process' id %}" method="post">
        {% csrf_token %}
        {{ process_form.as_p }}
        {{ form_parts.management_form }}
        {% for ft in form_parts %}
            <div class=inline-form">
                <hr>
                {{ ft }}
            </div>
        {% endfor %}
        <div class="row">
            <button class="btn btn-primary" type="submit">Atualizar</button>
            <a class="brn btn-danger" href="{% url "index" %}">Cancelar</a>
        </div>
    </form>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            $('.inline-form').formset({
                prefix: '{{ form_parts.prefix }}',
                addText: 'Adicionar novo Telefone',
                added: 'Adicionar novo Telefone',
                deleteText: 'Remover este telefone'
            });
        })
{% endblock scripts %}