<h1>Teste</h1>
<style>
    .inline-form {
        border-bottom: 1px solid black;
    }

    .hidden {
        display: none
    }
</style>
<div class="top-buffer">
    <form action="{% url 'update_process' id %}" method="post">
        {% csrf_token %}
        {{ p_form.as_p }}
        <div id="parts-form-list">
            {{ form_parts.management_form }}
            {% for form  in form_parts %}
                <div class="inline-form">
                    <hr>
                    {{ form }}
                    <a href="{% url 'delete_parts' form.id.value %}">
                        <button id="delete-part" type="button">Apagar</button>
                    </a>

                </div>
            {% endfor %}
        </div>
        <div id='empty-form' class="hidden">
            {{ form_parts.empty_form.as_p }}
            <button id="delete-part" type="button" onclick="GFG_click()">DELETE</button>
        </div>

        <button id="add-more" type="submit">Add more</button>
        <input type="submit" value=Submit">
    </form>
</div>


<script type="text/javascript">

    const deletePartBtn = document.getElementById('delete-part')
    const gfg_down = document.getElementById('empty-form')
    const addMoreBtn = document.getElementById('add-more')
    const totalNewForms = document.getElementById('id_parts-TOTAL_FORMS')

    addMoreBtn.addEventListener('click', add_new_form)
    deletePartBtn.addEventListener('click', GFG_click)
    const currentPartsForms = document.getElementsByClassName('inline-form')
    const currentPartsCount = currentPartsForms.length

    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }

        const formCopyTarget = document.getElementById('parts-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'inline-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentPartsCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentPartsCount)
        totalNewForms.setAttribute('value', currentPartsCount + 1)
        formCopyTarget.append(copyEmptyFormEl)
    }

    function GFG_click() {
        const gfg_down = document.getElementById(`form-${currentPartsCount}`);
        gfg_down.remove();
    }

</script>
