<h1>Formulario</h1>
<div class="top-buffer">
    <form action="{% url 'create_process' %}" method="post">
        {% csrf_token %}
        {{ p_form.as_p }}
        {{ form_parts.management_form }}
        {% for ft in form_parts %}
            <div class="inlineform">
                <hr>
                {{ ft }}
            </div>
        {% endfor %}
        <input type="submit" value=Submit">
    </form>
</div>
{% block scripts %}
<script type="text/javascript">
    $(function() {
        $('.inlineform').formset({
            prefix: '{{ form_parts.prefix }}',
            addText: 'Adicionar nova Parte',
            deleteText: 'Remover esta Parte',
        });
    })
</script>
{% endblock scripts %}